

#root{
    -fx-background-color: gray;
}

#homebuttonpane{
    -fx-alignment: TOP_RIGHT;
}

#spacer{
}

.main-scroll-pane {
    -fx-background-color: gray;
    -fx-background: gray;
    -fx-border-color: transparent;

}

/* Kontrollerar storlek/placering av Movie/Genre-text */
.label-text {
    -fx-font-size: 25px;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-padding: 0 0 0 15px;
}


.content-scroll-pane {
    -fx-background-color: transparent;

    -fx-border-color: transparent;
    -fx-padding: 5px;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
    -fx-padding: 10px;
}


.scroll-pane .scroll-bar:horizontal{
    -fx-background-color: transparent; /* Just nu transparant vertikal scrollbar */
}

.scroll-pane .scroll-bar:vertical{
    -fx-background-color: transparent; /* Just nu transparant vertikal scrollbar */
}




/* Ta bort rubrikerna på TableView då du har egna labels i skissen */
.custom-table .column-header-background {
    -fx-max-height: 0;
    -fx-pref-height: 0;
    -fx-min-height: 0;
    -fx-visibility: hidden;
}

.custom-table {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 2;
}

.custom-table .table-row-cell {
    -fx-border-color: black;
    -fx-border-width: 0 0 1 0; /* Horisontella linjer mellan filmerna */
    -fx-background-color: white;
}

.custom-table .table-cell {
    -fx-border-color: transparent black transparent transparent; /* Vertikal linje innan priset */
    -fx-padding: 5;
}
